@import "bower_components/bootstrap/less/bootstrap";

/*color themes*/

@light-orange: #ffaa56;
@orange: #eca225;

.body-app {
	background-image: url("/images/background.jpg");
	font-color: @gray-dark;
}


/* header brand*/
.brand-container {
	.container-fluid();
	padding-left: 0px;
	padding-right: 0px;
	background-color: @light-orange;
 
 	& .brand-text {
  	font-family: 'Chelsea Market',cursive;
  	text-transform: uppercase;
  	font-weight: bold;
  	color: @gray;

  	& h1, h2, h3, h4, h5, h6 {
			display: inline-block;
		}
	}
	& .padded-row {
		.make-row(30);
	}
}

/* header navigation */
.navbar-cust {
  .navbar-default();
	background-color: @orange;

	& .navbar-toggle {
    border-color: darken(@orange, 10%);
    &:hover,
    &:focus {
      background-color: darken(@orange, 10%);
    }
    & .icon-bar {
      background-color: @gray-darker;
    }
  }

	& .btn-link-cust {
		.button-variant(@gray-dark; @orange; @orange);
		.border-top-radius(0);
		.border-right-radius(0);
		.border-bottom-radius(0);
		.border-left-radius(0);
		font-weight: bold;
	}

	& .btn-group-cust {
		.btn-group();
		border-left: 1px solid darken(@orange, 10%);
		border-right: 1px solid darken(@orange, 10%);
		@media (max-width: @screen-sm) {
			width: 150px;
	  }
	}

	& .nav-dropdown {
		background-color: @orange;
		& > li > a {
			color: @gray-darker;
			font-weight: bold;		
			&:hover, &.hover, &:focus, &.focus { 
				background-color: darken(@orange, 10%); 
			}
		}
	}
}

/* custom panel */
.panel-cust {
	.panel-variant(@orange, @gray-darker, @orange, lignten(@orange, 10%));
}

.panel-item-cust {
	.panel();
	border: solid 1px lignten(@orange, 10%);
	background-color: lignten(@orange, 10%);
	
	& .panel-heading {
    color: @gray-darker;
    background-color: lignten(@orange, 10%);
    border-color: lignten(@orange, 10%);
  }
  
  & .panel-footer {
    color: @gray-darker;
    background-color: lignten(@orange, 10%);
    border-color: lignten(@orange, 10%);
  }
}

/* misc */
.horizontal-rule {
	width: 100%;
	height: 5px;
	border-top: solid 1px darken(@orange, 10%);
}