<div ng-controller="menuCtrl as ctrl">
	<div ng-repeat="category in ctrl.menu" category="{{category.name}}">
	<panel-dir>
		<panel-header>
			<h3>
				{{ctrl.capitalizeWords(category.name)}}
			</h3> 
			<h6>
				{{ctrl.capitalizeWords(category.description)}}
			</h6> 
		</panel-header>
		<panel-body>
			<div ng-repeat="group in category.item_groups">
				<h4 class="text-center" ng-if="group.description !== null">
					{{ctrl.capitalizeWords(group.description)}}
				</h4>
				<div class="container-fluid">
					<div class="row">
						<div ng-repeat="item in group.items" ng-if="$index % 4 === 0">
							<div class="col-lg-3 col-md-4" ng-if="$index < group.items.length">
								<item-dir item="group.items[$index]"></item-dir>
							</div>
							<div class="col-lg-3 col-md-4" ng-if="$index + 1 < group.items.length">
								<item-dir item="group.items[$index + 1]"></item-dir>
							</div>
							<div class="col-lg-3 col-md-4" ng-if="$index + 2 < group.items.length">
								<item-dir item="group.items[$index + 2]"></item-dir>
							</div>
							<div class="col-lg-3 col-md-4" ng-if="$index + 3 < group.items.length"> 
								<item-dir item="group.items[$index + 3]"></item-dir>
							</div>
						</div>
					</div>
				</div>
				<div class="horizontal-rule"></div>
			</div>
		</panel-body>
	</panel-dir>
	</div>
</div>