<div ng-controller="navigationCtrl as ctrl">
  <div id="brand-header" class="brand-container">
    <div class="padded-row">
      <div class="col-md-8">
        <div class="brand-text">
          <h1>
            Rice Mac
          </h1>
          <h6>
            I Love Rice
          </h6>
        </div>      
      </div>
      <div class="col-md-4">
        <div class="col-md-6">
          <p>
            <div class="row">          
              <b>Store Hours:</b>
            </div>
            <div class="row">      
              Monday - Thursday: 11am-10pm
            </div>
            <div class="row">
              Friday - Saturday: 11am-10:30pm
            </div>
            <div class="row">
              Sunday: 12pm-10pm
            </div>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <div class="row">
              <b>Call Us:</b><br />
            </div>
            <div class="row">
              <a href="tel:1-404-963-1266">
                1-404-963-1266
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav id="header-nav" class='navbar navbar-default' ng-class="{'navbar-fixed-top' : outOfView, 'navbar-static-top': !outOfView}">
    <div class="container-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="ctrl.toggleCollapse()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse" uib-collapse="ctrl.collapseNav">
        <ul class="nav navbar-nav">
          <li ng-repeat-start="uiState in ctrl.uiState" ng-if="uiState.nestedOption.length === 0">
            <div class="btn-group-cust" uib-dropdown>
              <button id="{{uiState.stateName}}_ddl" class="btn btn-link-cust btn-lg" ui-sref="{{uiState.stateName}}" ui-sref-active="active">
                {{ctrl.capitalizeUiState(uiState.stateName)}}
              </button>
            </div>
          </li>  
          <li ng-repeat-end ng-if="uiState.nestedOption.length > 0">
            <div class="btn-group-cust" uib-dropdown>
              <button id="{{uiState.stateName}}_ddl" class="btn btn-link-cust btn-lg" ui-sref="{{uiState.stateName}}" ui-sref-active="active">
                {{ctrl.capitalizeUiState(uiState.stateName)}}
              </button>
              <button class="btn btn-link-cust btn-lg" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul class="nav-dropdown" role="menu" aria-labelledby="{{uiState.stateName}}_ddl" uib-dropdown-menu>
                <li role="menuitem" ng-repeat="nestedOption in uiState.nestedOption" ui-sref="{{uiState.stateName}}({param1: nestedOption.optionName})">
                  <a href="#">
                    {{ctrl.capitalizeUiState(nestedOption.optionName)}}
                  </a>
                </li>
              </ul>
            </div>           
          </li>          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>