<div class="container-fluid page-container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<img id="welcome-img" class="img-responsive col-md-8" src="images/main.png" />
				<div id="welcome-text" class="col-md-4">
					<h2>
						We only use quality, fresh ingredients in all our dishes.
					</h2>
				</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-8">

		</div>
		<div class="col-md-4">
			<panel-dir>
				<panel-header>
					News Articles About Rice Mac
				</panel-header>
				<panel-body>
					<ul class="list-group">
  					<li class="list-group-item">
  						<a target="_blank" href="http://www.prweb.com/releases/RiceMacGivesBack/atBacktoSchoolTime/prweb12914828.htm">PR Webs</a>
						</li>
						<li class="list-group-item">
  						<a target="_blank" href="http://abc3340.com/story/29839571/rice-mac-new-decatur-restaurant-gives-back-at-back-to-school-time">ABC News</a>
						</li>
					</ul>
				</panel-body>
			</panel-dir>
		</div>
	</div>
</div>
