<div class="container-fluid page-container" ng-controller="welcomeCtrl as ctrl">
	<div class="row">
		<div class="col-md-3">
			<panel-dir>
				<panel-header>
					<h4>
						Location
					</h4>
				</panel-header>
				<panel-body>
					<div class="row">						
						<iframe src="//maps.google.com/maps?v=2&amp;f=q&amp;ie=UTF8&amp;t=m&amp;iwloc=&amp;q=2050+North+Decatur+Road%2c+Decatur%2c+GA+30033%2c+USA&amp;hl=en&amp;z=15&amp;source=s_q&amp;output=embed" style="width: 100%; height: 300px" scrolling="no"></iframe>
					</div>
				</panel-body>
			</panel-dir>
		</div>
		<div class="col-md-9"><panel-dir>
				<panel-header>
					<h4>
						Popular Dishes
					</h4>
				</panel-header>
				<panel-body>
					<div class="row">
						<div class="col-md-3" ng-repeat="popItem in ctrl.popularDish">
							<pop-item-dir item="popItem"></pop-item-dir>
						</div>
					</div>
				</panel-body>
				<panel-footer>
					<div class="row">
						<div class="col-md-6 text-left">
							We only use quality, fresh ingredients in all our dishes.
						</div>
						<div class="col-md-6 text-right">
							<a ui-sref="menu">See Our Full Menu</a>
						</div>
					</div>
				</panel-footer>
			</panel-dir>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<panel-dir>
				<panel-header>
					<h4>
						News Articles About Rice Mac
					</h4>
				</panel-header>
				<panel-body>
					<ul class="list-group">
  					<li class="list-group-item">
  						<a target="_blank" href="http://www.prweb.com/releases/RiceMacGivesBack/atBacktoSchoolTime/prweb12914828.htm">PR Webs</a>
						</li>
						<li class="list-group-item">
  						<a target="_blank" href="http://abc3340.com/story/29839571/rice-mac-new-decatur-restaurant-gives-back-at-back-to-school-time">ABC News</a>
						</li>
					</ul>
				</panel-body>
			</panel-dir>
		</div>
	</div>
</div>